*{
  color: magenta
}

*{
  background-color: lightblue;
}

header {
  text-align: center
}



.how-to {
  text-align: center
}

.alcohol {
  text-align: center
}

h2 {
  text-align: center
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 175px;
  height: auto;
}


.flip-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;

  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: thistle;
  color: black;
}


.flip-card-back {
  background-color: magenta;
  color: white;
  transform: rotateY(180deg);
}

img {
  width: 300px;
  height: 200px;
}